<%# <div class="container"> %>
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 px-5 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-muted">© 2022 Gearless</span>
    </div>

    <ul class="nav col justify-content-end">
      <li class="nav-link px-2 text-muted">Brought to you by:</li>
      <li class="nav-item"><a href="https://www.linkedin.com/in/amberyharris/" class="nav-link px-2 text-muted">Ambery</a></li>
      <li class="nav-link px-2 text-muted">|</li>
      <li class="nav-item"><a href="https://www.linkedin.com/in/casey-qingyun-dai/" class="nav-link px-2 text-muted">Casey</a></li>
      <li class="nav-link px-2 text-muted">|</li>
      <li class="nav-item"><a href="https://www.linkedin.com/in/farah-masri-72b329141/" class="nav-link px-2 text-muted">Farah</a></li>
      <li class="nav-link px-2 text-muted">|</li>
      <li class="nav-item"><a href="https://www.linkedin.com/in/elliottkan/" class="nav-link px-2 text-muted">Elliott</a></li>
    </ul>
  </footer>
<%# </div> %>
