// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
// $green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$primary-colors-dark: #06270A;
$primary-color-light: #F4F3D8;
$green: #2E5E55;
