.map-container {


  .map-render {
    height: 40vh;
  }
}

.card {
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.rental-container {
  display: block;
}

.rental-details {
  vertical-align: middle;
}
