.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: white;
  background: #E67E22 !important;
  background-color: #E67E22 !important;
}

.map-pop-up-text {
  // text-decoration: none !important;
  color: white !important;
}
