#allreview li{
  background-color: transparent;
  }

.review-rating label{
    position: relative;
    width: 1em;
    font-size: 20px;
    font-weight: 300;
    color: #FFD600;
}

.rating-color{
    color: #FFD600;
    opacity: 1;
}
